@import './variables';
@import './buttons';

.getBroadcastLinkFormSection {
    padding-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 140px;
    @media only screen and (max-width: 710px) {
        width: 100%;
        height: 502px;
        max-width: 710px;
        padding-right: 5.1%;
        padding-left: 5.1%;
        padding-top: 0;
        background-color: #232323;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
    }
    svg {
        padding-bottom: 30px;
    }
    p {
        width: 570px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 100px;
        @media only screen and (max-width: 710px) {
            width: 100%;
            color: white;
            font-size: 14px;
            margin: 0;
            margin-bottom: 10px;
        }
    }
}

.userDataForms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    @media only screen and (max-width: 710px) { 
        height: 300px;
        width: 100%;
    }
    div {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        width: 100%;
        height: 51px;
        @media only screen and (max-width: 710px) { 
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    .inputWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 235px;
        @media only screen and (max-width: 710px) { 
            width: 100%;
        }
        input {
            border: none;
            border-bottom: 1px solid gray;
            padding-top: 10px;
            @media only screen and (max-width: 710px) { 
                background-color: transparent;
                color: white;
                border-bottom: 1px solid white;
            }
        }
        label {
            color: gray;
            @media only screen and (max-width: 710px) { 
                font-size: 18px;
                font-weight: 600;
            }
        }
        ::-webkit-input-placeholder {
            color: black;
            @media only screen and (max-width: 710px) { 
                color: white;
                font-size: 18px;
            }
        }
    }
    .submitBtn {
        width: 200px;
        background-color: $colorYellowSand;
        border: none;
        color: white;
        font-weight: bold;
        @media only screen and (max-width: 710px) {
            display: none;
        }
    }
    .containerLabel {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        user-select: none;
        @media only screen and (max-width: 710px) { 
            width: 90%;
            color: white;
            font-size: 16px;
        }
    }
    .containerLabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background: url('../../assets/images/checkbox-icon.png');
    }
    .container:hover input ~ .checkmark {
        background-color: gray;
      }

    .container input:checked ~ .checkmark {
        background-color: $colorYellowSand;
  }
  
    .container input:checked ~ .checkmark:after {
        display: block;
    }
  
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.submitBtnMobile {
    display: none;
    @media only screen and (max-width: 710px) {
        display: block;
        background-color: $colorYellowSand;
        border: none;
        font-weight: bold;
        width: 100%;
        color: black;
        font-weight: 500;
        height: 51px;
        font-size: 15px;
        position: relative;
        top: 25px;
    }
}

