@import './variables';

.commonBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $colorYellowSand;
    color: $colorWhite;
    font-weight: bold;

    border: none; 

    width: 161px; 
    height: 37px;
    &:hover {
        cursor: pointer;
        background: #ffffff;
        color: $colorYellowSand;
    }
}