@import './variables';

.examplesOfStylesSectionMobile {
    display: none;
    @media only screen and (max-width: 650px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        box-sizing: border-box;
        padding-left: 5.1%;
        padding-right: 5.1%;
        height: 230px;
        padding-top: 25px;
        h2 {
            color: $colorYellowSand;
            font-size: 22px;
            line-height: 1.5;
            margin-bottom: 25px;
            text-align: center;
            margin: 0;
        }
        .fantasiesSectionSliderMobile {
            position: absolute;
            top: 48%;
            left: 23%;
            @media only screen and (max-width: 542px) {
                left: 19%;
            }
            @media only screen and (max-width: 542px) {
                left: 4.5%;
            }
            .svgLeftArrowWrapper {
                position: absolute;
                top: 103px;
                left: 13px;
            }
            .svgRightArrowWrapper {
                position: absolute;
                top: 103px;
                right: 13px;
            }
        }
    }
}