@import './variables';

.howDoWeWorkSection {
    width: 100%;
    height: 612px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 390px) {
        box-sizing: border-box;
        padding-left: 5.1%;
        padding-right: 5.1%;
        background: #232323;
        height: 2266px;
    }
    .designProjectWrapper {
        margin-bottom: 55px;
        margin-top: 50px;
        text-align: center;
        @media only screen and (max-width: 390px) {
            color: white;
            font-size: 22px;
            font-family: 'YesevaOne-Regular', sans-serif;
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .designProjectSloganSection {
        text-align: center;
        margin-bottom: 80px;
        @media only screen and (max-width: 390px) {
            margin: 0;
            color: white;
            font-size: 15px;
            width: 92%;
            margin-bottom: 20px;
        }
    }
    .worksExampleFlex {
        width: 85.83%;
        height: 280px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media only screen and (max-width: 390px) {
            height: 1700px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
        }
        .worksExample {
            width: 100%;
            max-width: 392px;
            height: 421px;
            position: relative;
            ul {
                background-color: white;
                padding: 26px 30px 60px 40px;
                color: gray;
                p {
                    color: black;
                    font-size: 20px;
                    margin: 0;
                }
                li {
                    list-style: inside;
                    line-height: 1.7;
                    @media only screen and (max-width: 557px) {
                        line-height: 1;
                    }
                }
            }
        }
        .worksExample1 {
            @media only screen and (max-width: 390px) {
                margin-bottom: 182px;
            }
        }
        .worksExample2 {
            @media only screen and (max-width: 390px) {
                margin-bottom: 250px;
            }
        }
        div:nth-child(1) {
            background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../../assets/images/mini.png');
            @media only screen and (max-width: 390px) {
                background: url('../../assets/images/designMobile1.png') no-repeat;
                background-size: contain;
                height: 363px;
            }
            ul {
                position: absolute;
                top: 68%;
                left: 8.5%;
                padding: 5% 23% 9% 14%;
                @media only screen and (max-width: 1240px) {
                    position: absolute;
                    top: 19%;
                    left: 1.5%;
                }
                @media only screen and (max-width: 557px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                @media only screen and (max-width: 390px) {
                    position: absolute;
                    top: 76%;
                    left: 0;
                    padding: 0;
                    width: 290px;
                    padding-left: 20px;
                    padding-top: 20px;
                    padding-bottom: 60px;
                }
                    p {
                        font-family: 'Yeseva One', serif;
                        font-style: normal;
                        font-size: 18px;
                        line-height: 25px;
                        margin-bottom: 10px;
                        font-weight: bold;
                    
                    }
                    li {
                        line-height: 25px;
                    }
                }
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -17%;
                left: 0%;
                background-color: $colorYellowSand;
                color: white;
                width: 69%;
                height: 31%;
                font-family: 'YesevaOne-Regular', sans-serif;
                font-size: 18px;
            }
        }
        div:nth-child(2) {
            background: url('../../assets/images/designMobile2.png');
            @media only screen and (max-width: 390px) {
                background: url('../../assets/images/designMobile2.png') no-repeat;
                background-size: contain;
                height: 363px;
            }
            ul {
                position: absolute;
                top: 284px;
                left: 30px;
                padding: 5% 23% 9% 14%;
                @media only screen and (max-width: 1240px) {
                    position: absolute;
                    top: 19%;
                    left: 1.5%;
                }
                @media only screen and (max-width: 557px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                @media only screen and (max-width: 390px) {
                    position: absolute;
                    top: 76%;
                    left: 0;
                    padding: 0;
                    width: 290px;
                    padding-left: 20px;
                    padding-top: 20px;
                    padding-bottom: 60px;
                p {
                    font-family: 'Yeseva One', serif;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 10px;
                    font-weight: bold;
                
                }
                li {
                    line-height: 25px;
                }
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -11%;
                left: 0%;
                background-color: $colorYellowSand;
                color: white;
                width: 74%;
                height: 21%;
                font-family: 'YesevaOne-Regular', sans-serif;
                font-size: 18px;
            }
        }
        div:nth-child(3) {
            background: url('../../assets/images/designMobile3.png');
            @media only screen and (max-width: 390px) {
                background: url('../../assets/images/designMobile3.png') no-repeat;
                background-size: contain;
                height: 363px;
            }
            ul {
                position: absolute;
                top: 68%;
                left: 8.5%;
                padding: 5% 6% 9% 12%;
                @media only screen and (max-width: 1240px) {
                    position: absolute;
                    top: 19%;
                    left: 1.5%;
                }
                @media only screen and (max-width: 557px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                @media only screen and (max-width: 390px) {
                    position: absolute;
                    top: 76%;
                    left: 0;
                    padding: 0;
                    width: 290px;
                    padding-left: 20px;
                    padding-top: 20px;
                    padding-bottom: 60px;
                }
                p {
                    font-family: 'Yeseva One', serif;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 10px;
                    font-weight: bold;
                
                }
                li {
                    line-height: 25px;
                }
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -7%;
                left: 0%;
                background-color: $colorYellowSand;
                color: white;
                width: 69%;
                height: 14%;
                font-family: 'YesevaOne-Regular', sans-serif;
                font-size: 18px;
            }
        }
    }
}