@import './variables';

.howDoWeWorkSection {
    width: 100%;
    height: 612px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .designProjectWrapper {
        margin-bottom: 55px;
        margin-top: 50px;
        text-align: center;
    }
    .designProjectSloganSection {
        text-align: center;
        margin-bottom: 80px;
    }
    .worksExampleFlex {
        width: 85.83%;
        height: 280px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .worksExample {
            width: 100%;
            max-width: 392px;
            height: 421px;
            position: relative;
            ul {
                background-color: white;
                padding: 26px 30px 60px 40px;
                color: gray;
                p {
                    color: black;
                    font-size: 20px;
                    margin: 0;
                }
                li {
                    list-style: inside;
                    line-height: 1.7;
                    @media only screen and (max-width: 557px) {
                        line-height: 1;
                    }
                }
            }
        }
        div:nth-child(1) {
            background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../../assets/images/mini.png');
            ul {
                position: absolute;
                top: 68%;
                left: 8.5%;
                padding: 5% 23% 9% 14%;
                @media only screen and (max-width: 1240px) {
                    position: absolute;
                    top: 19%;
                    left: 1.5%;
                }
                @media only screen and (max-width: 557px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -17%;
                left: 0%;
                background-color: $colorYellowSand;
                color: white;
                width: 69%;
                height: 31%;
            }
        }
        div:nth-child(2) {
            background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../../assets/images/standard.png');
            ul {
                position: absolute;
                top: 284px;
                left: 30px;
                padding: 5% 23% 9% 14%;
                @media only screen and (max-width: 1240px) {
                    position: absolute;
                    top: 19%;
                    left: 1.5%;
                }
                @media only screen and (max-width: 557px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -11%;
                left: 0%;
                background-color: $colorYellowSand;
                color: white;
                width: 74%;
                height: 21%;            
            }
        }
        div:nth-child(3) {
            background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../../assets/images/full.png');
            ul {
                position: absolute;
                top: 68%;
                left: 8.5%;
                padding: 5% 6% 9% 12%;
                @media only screen and (max-width: 1240px) {
                    position: absolute;
                    top: 19%;
                    left: 1.5%;
                }
                @media only screen and (max-width: 557px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -7%;
                left: 0%;
                background-color: $colorYellowSand;
                color: white;
                width: 69%;
                height: 14%;
            }
        }
    }
}