@import './variables';

.mapSection {
    width: 100%;
    height: 953px;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8 )), url('../../assets/images/bgMapSection.png') no-repeat;
    padding-top: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    @media only screen and (max-width: 390px) { 
        box-sizing: border-box;
        padding-left: 5.1%;
        padding-right: 5.1%;
        padding-top: 50px;
        padding-bottom: 50px;
        height: auto;
        background: none;
        background-color: #232323;
    } 
    .contactsSection {
        width: 100%;
        max-width: 589px;
        height: 102px;
        color: $colorYellowSand;
        font-family: 'Yeseva One', serif;
        font-size: 20px;
        text-align: center;
        margin-bottom: 45px;
        @media only screen and (max-width: 390px) { 
            order: 1;
            width: 87%;
            font-size: 18px;
            font-family: 'Yeseva One', serif;
        } 
        .contactsImg {
            svg {
                margin-right: 15px;
                fill: $colorYellowSand;
                circle {
                    fill: $colorYellowSand;
                }
                path {
                    stroke: white;
                }
                &:hover {
                    cursor: pointer;
                    fill: white;
                    circle {
                        fill: white;
                    }
                    path {
                        stroke: $colorYellowSand;
                    }
                }
            }
        }
    }
    .mapBlock {
        width: 100%;
        max-width: 925px;
        height: 465px;
        @media only screen and (max-width: 390px) { 
            width: 360px;
            height: 255px;
            order: 0;
        }
        img {
            width: 100%;
            height: 100%;
        } 
    }
}