@import './variables';

.stepsToTheGoalSection {
    width: 100%;
    box-sizing: border-box;
    padding: 412px 100px 100px 100px;

    display: flex;
    background-color: black;
    @media only screen and (max-width: 881px) {
        padding: 412px 0px 100px 0px;
    }
    @media only screen and (max-width: 390px) {
        display: none;
    }
    .howWeWork {
        width: 200px;
        height: 40px;
        color: white;
    }
    .sliderCountAndDesc {
        display: flex;
        flex-direction: column;
        width: 37%;
        @media only screen and (max-width: 881px) {
            width: 100%;
            align-items: center; 
        }
        h2 {
            margin: 0;
            width: 337px;
            display: flex;
            justify-content: space-between;
            color: $colorYellowSand;
            font-size: 30px;
            font-weight: bold;
            box-sizing: border-box;
            padding-bottom: 96px;
            @media only screen and (max-width: 931px) {
                padding-bottom: 0;
            }
            @media only screen and (max-width: 881px) {
                width: 100%;
                justify-content: center;
            }
            svg {
                padding-right: 10px;
                padding-top: 51px;
                @media only screen and (max-width: 1240px) {
                    display: none;
                }
            }
        }
        .sliderCount {
            color: white;
            padding-bottom: 20px;
        }
        h3 {
            color: $colorYellowSand;
            padding-bottom: 10px;
            text-transform: uppercase;
            @media only screen and (max-width: 881px) {
                text-align: center;
            }
        }
        p {
            width: 73.5%;
            height: 220px;
            color: white;
            @media only screen and (max-width: 881px) {
                text-align: center;
            }
        }
        .arrowsSlider {
            width: 287px;
            display: flex;
            justify-content: space-around;
            svg {
                fill: gray;
                border: none;
                stroke: gray;
                &:hover {
                    fill: white;
                    stroke: white;
                    cursor: pointer; 
                } 
            }
            svg:nth-child(1) {
                fill: white;
                border: none;
                stroke: white; 
            }
            svg:nth-child(2) {
                fill: white;
                border: none;
                stroke: white; 
            }
            svg:last-child {
                fill: white;
                border: none;
                stroke: white; 
            }
        }
    }
    .sliderPagination {
        width: 63%;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 881px) {
            display: none; 
        }
        ul {
            width: 98%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            color: gray;
            padding-top: 95px;
            height: 200px;
            @media only screen and (max-width: 931px) {
                padding-top: 0;
            }
            li {
                width: 33%;
                display: flex;
                flex-direction: column;
                &:hover {
                    color: white;
                    cursor: pointer; 
                }
                span:nth-child(1) {
                    padding-bottom: 10px;
                    text-decoration: underline;
                }
                .paddingLeft {
                    padding-left: 70px;
                }
                .paddingLeftMax {
                    padding-left: 140px;
                }
            }
            .activeSliderPage {
                color: white;
            }
        }
        .sliderPicture {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}