@import './variables';

.videoExampleSection {
    width: 100%;
    height: 420px;

    position: relative;
    background-color: black;

    display: flex;
    justify-content: center;
    padding-top: 70px;
    .videoControl {
        color: $colorWhite;
        div {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 10px;
        }
        .videoIframe {
            position: absolute;
            top: 50%;
            left: calc(50% - 409px);
        }
    }
}