@import './partials/header';
@import './partials/body';

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../../assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../../assets/fonts/YesevaOne/YesevaOne-Regular.ttf);
}
