@import './partials/body';
@import './partials/buttons';
@import './partials/variables';
@import './partials/header';
@import './partials/calculateTheCost';
@import './partials/sliderSection';
@import './partials/videoExmpl';
@import './partials/broadcastForm';
@import './partials/typesOfRepair';
@import './partials/advantagesSection';
@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../../assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../../assets/fonts/YesevaOne/YesevaOne-Regular.ttf);
}
